{
  "plugins": [["babel-plugin-styled-components", { "displayName": true }]],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    ["@babel/preset-react", {"runtime": "automatic"}]
  ]
}
